.home_wrap {
	.member_list {
		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 40px;
			margin-top: 10px;
		}

		.name {

		}

		.date {
			padding-left: 12px;
			font-size: 11px;
			color: #666;
		}

		.reservation {
			margin-left: auto;
			padding-left: 12px;
			font-weight: 700;

			&.wait {
				color : #25AAF5;

			}
		}
	}
}