.home_wrap {
	.member_list {
		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 40px;
			margin-top: 10px;

			&::after {
				content: '';
				margin-left: auto;
				width: 24px;
				height: 24px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16.58L12.58 12L8 7.41L9.41 6L15.41 12L9.41 18L8 16.58Z' fill='%23999999'/%3E%3C/svg%3E");
			}
		}

		.date {
			padding-left: 12px;
			font-size: 11px;
			color: #666;
		}

		.reservation {
			margin-left: auto;
			padding-left: 12px;
			font-weight: 700;

			&.wait {
				color : #25AAF5;

			}
		}
	}
}