.schedule_wrap {
	.tab_area {

		border: 1px solid #E1E1E1;
	}
	.tab {

		input {
			@include blind;

			&:checked ~ label {
				background-color: #fff;
				font-weight: 700;
			}
		}

		label {
			display: block;
			background-color: #F5F5F5;
			line-height: 38px;
			text-align: center;
		}
	}

	.list_area {
		padding: 16px;
	}

	.trainer_list {
		@include clearfix;
		margin-top: -14px;

		&.member {
			.input_label {
				color: #D694F4;
			}
		}

		.item {
			float: left;
			width: 33.33%;
			margin-top: 14px;
		}

		.input_check {
			@include blind;

			&:checked ~ .input_label {
				&::before {
					background: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.26667L4.19796 7.58307C4.40981 7.80277 4.76735 7.78306 4.95377 7.5414L10 1' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat center;
					background-color: currentColor;
				}
			}
		}
		.input_label {
			line-height: 20px;
			color: #5784FC;

			.text {
				display: inline-block;
				color: #333;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-right: 8px;
				border: 2px solid currentColor;
				border-radius: 2px;
				vertical-align: -5px;
			}
		}
	}

	.modal {
		.day_list {
			color: #666;

			.item {
				display: flex;
				height: 52px;
				align-items: center;
				font-size: 16px;

				& ~ .item {
					margin-top: 4px;
				}
			}

			.text {
				padding-right: 16px;
			}

			.btn_manage {
				height: 38px;
				margin-left: auto;
				padding: 0 14px;
				color: #25AAF5;
				border: 1px solid currentColor;
				border-radius: 2px;
			}
		}
	}
}

.calendar-container {
	.task_calendar {
		width: 100%;
		border: 0;

		abbr {
			text-decoration: none;
		}

		.react-calendar__navigation__label {
			font-size: 20px;
			font-weight: 700;
		}

		.react-calendar__viewContainer {
			margin-right: -6px;
		}

		.react-calendar__month-view__weekdays__weekday {
			margin: 0 -1px -1px 0;
			border: 1px solid #e1e1e1;
			padding: 0;
			height: 36px;
			line-height: 36px;

			abbr {
				font-size: 12px;
				font-weight: 400;
				color: #666;
			}
		}

		[class*='--now'] { // 오늘
			background-color: #E9F7FE;

			&:hover,
			&:focus,
			&.active {
				background-color: #D3EEFD !important;
			}
		}

		[class*='--active'] { // 활성화
			background-color: #EDEFFA;

			&:hover,
			&:focus,
			&.active {
				background-color: #EDEFFA;
			}
		}

		.task_calender_tile {
			position: relative;
			margin: 0 -1px -1px 0;
			padding: 20px 6px 6px;
			border: 1px solid #e1e1e1;
			height: 105px;
			color: #666 !important;

			&:hover {
				background-color: #EDEFFA;
			}

			abbr {
				position: absolute;
				top: 6px;
				left: 6px;
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				color: #666;
			}

			.task_area {
				display: block;
				overflow-y: auto;
				height: 100%;
				//@include scrollHide;
			}

			.task {
				display: block;
				font-size: 10px;
				line-height: 16px;
				text-align: left;

				&::before {
					content: '';
					display: inline-block;
					width: 10px;
					height: 10px;
					margin-right: 4px;
					border-radius: 50%;
					background-color: #5784FC;
					vertical-align: -2px;
				}
			}
		}
	}
}

.mbsc-calendar {
	max-height: 500px;
}